# Flutter .gitignore
**/ios/Flutter/.last_build_id
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.pub-cache/
*.pub/
/build/
**/doc/api/
.android/
.idea/
.packages
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/Flutter/ephemeral/.vagrant/
!**/ios/Flutter/.symlinks/
!**/ios/Flutter/ephemeral/.gitignore

# Android/Ios specific
**/android/app/google-services.json
**/android/key.properties
**/ios/Runner/GoogleService-Info.plist

# Django .gitignore
*.py[cod]
__pycache__/
*.pyo
*.egg-info/
db.sqlite3
.db
.DS_Store
.Python
*.git
db.sqlite3-journal
*.swp
*.swo
*.swn
*.bak
*.orig
*.old
*.sdx
*.mo
*.pot

# Environment files
.env
.venv/67-=